name: MijnBussie
services:
  mijn-bussie:
    image: docker.io/library/mijn_bussie
    user: root
    volumes:
      - .env:/usr/src/mijn_bussie/.env
      - ${SAVE_TARGET}:/usr/src/mijn_bussie/calendar/
      - ./data/:/usr/src/mijn_bussie/data/
    environment:
      - RUST_LOG=${BUSSIE_LOG}
    ports:
      - ${INSTANCE_API_PORT}:3000
    restart: unless-stopped
    networks:
      - MijnBussie
    depends_on:
      - db
      - selenium-hub
      - node-docker
    profiles: ["prod", "instance"]

  mijn-bussie-auth: 
    image: docker.io/library/mijn_bussie_auth
    user: root
    volumes:

      - .env:/usr/src/mijn_bussie_auth/.env:Z
    environment:
      - RUST_LOG=${AUTH_LOG}
    ports:
      - ${API_PORT}:${API_PORT}
    restart: unless-stopped
    networks:
      - MijnBussie
    depends_on:
      #- mijn-bussie
      - db
      - selenium-hub
      - node-docker
    profiles: ["prod", "auth"]

  db:
    image: postgres
    restart: unless-stopped
    user: root
    # set shared memory limit when using docker compose
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USERNAME}
    ports:
      # WARNING: Exposes database
      - 5432:5432
    networks:
      - MijnBussie
    volumes:
      - ./pg_data:/var/lib/postgresql:Z

  selenium-hub:
    image: selenium/hub:latest
    container_name: selenium-hub
    networks:
      - MijnBussie
    ports:
      - 4444:4444
    volumes:
      - ./config.toml:/opt/selenium/docker.toml    

  node-docker:
    image: selenium/node-docker:4.40.0
    user: root
    volumes:
      - ./assets:/opt/selenium/assets
      - ./config.toml:/opt/selenium/docker.toml
      - /var/run/docker.sock:/var/run/docker.sock:z
      
    environment:
      - SE_NODE_DOCKER_CONFIG_FILENAME=docker.toml
      - SE_NODE_=true
    networks:
      - MijnBussie
    restart: unless-stopped
networks:
  MijnBussie:
