<table width="100%" cellpadding="5" cellspacing="0" border="0"
    style="margin-bottom:20px;">
    <tr>
        <td style="font-size:16px; font-weight:bold; padding-bottom:10px;">Hoi
            {name},</td>
    </tr>
    <tr>
        <td style="padding-bottom:10px;">Mijn Bussie kan al een maand
            niet inloggen op jouw Webcomm account. We gaan er daarom vanuit dat
            je geen gebruik meer wilt maken van Mijn Bussie. <br>Daarom hebben
            we je <b>Mijn Bussie account verwijderd.</b>
        </td>
    </tr>
    <tr>
        <td style="padding-bottom:10px;">Wat betekent dit?<br><ul><li>Je
                    diensten worden niet meer automatisch ingeladen in
                    Bussie</li> <li>Je diensten worden niet meer toegevoegd aan
                    je agenda</li></ul></td>
    </tr>
    <tr>
        <td style="padding-bottom:10px;">Wil je toch weer gebruik maken van Mijn
            Bussie? Dan kan je je opnieuw aanmelden via de onderstaande link:
            <br> <a href={sign_up_link}
                style="color:#003366; text-decoration:underline;">{sign_up_link}</a>
        </td>
    </tr>
    <tr>
        <td>Neem contact op met: <a href="mailto:{admin_email}"
                style="color:#003366; text-decoration:underline;">{admin_email}</a>
            voor meer informatie</td>
    </tr>
</table>