<table width="100%" cellpadding="5" cellspacing="0" border="0">
    <tr>
      <td style="font-size:16px; font-weight:bold; padding-bottom:10px;">Hoi, </td>
    </tr>
    <tr>
      <td>De storing van MijnBussie is verholpen! Je krijgt weer mailtjes bij nieuwe diensten en je agenda zal weer geüpdate worden</td>
    </tr>
    <tr>
      <td><i>Deze mail komt van een extern programma dat controlleert of de MijnBussie server online is.</i></td>
    </tr>
    <tr>
        <td style="padding-bottom:10px;">Bekijk de actuele status van MijnBussie op: <a href="{kuma_url}">{kuma_url}</a></td>
    </tr>
  </table>